<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="org.idempiere.tms.form.MapViewForm"
         name="MapViewForm"
         point="org.adempiere.webui.Form">
      <form
            class="org.idempiere.tms.form.MapViewForm">
      </form>
   </extension>

</plugin>
